.vscode/settings.json
.gitignore
*.db
*.log
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/
.history
.cache
.lib/
project/project/metals.sbt
project/metals.sbt
project/build.properties
project/.bloop/lsh-build.json
.bloop/bloop.settings.json
*.bloop
.bsp/sbt.json
.vscode/sftp.json
sparksubmit.txt
auxiliar.txt
*.txt
*.target/
*.target2/
/**./terget2
*/target2/
